# Logs
logs
*.log

# Environment files
.env
.env.*

# Binary folders
dist
bin
proxy-router
output

# IDE / Editor
.vscode

# macOS
.DS_Store

# Terraform / Terragrunt
.terraform
.terraform.lock.hcl
.terragrunt-cache
*.out
*.plan
secret.tfvars
secret.*
# Hardhat files
/cache
/artifacts

# TypeChain files
/typechain
/typechain-types

# solidity-coverage files
/coverage
/coverage.json

# generated code
/build-go
/build-js
*.tmp
/abi

# tests
/test-temp

# hide any .internal.md files (LOcal AI discussion notes)
*.internal.md

# node_modules
node_modules/